  <h1>Přehled Tarifů</h1>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Přehled tarifů</div>
    <div class="panel-body">
      <p>Přehled dostupných tarifů</p>
    </div>
    </form>

  </div>